@font-face {
    font-family: 'MGR';
    src: url('../fonts/P22MorrisGoldenRegular.woff') format('woff');
}

@font-face {
    font-family: 'Tyndale';
    src: url('../fonts/P22 Tyndale Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'E-Garamond';
    src: url('../fonts/Elegant Garamond Regular.otf') format('otf');
}

.title-background {
    display: block;
    margin: auto;
    width: 30%;
}

.tiling-background {
    background-size: 500px;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-position: center;

    background-attachment: fixed;
}


/* Sidebar */
.sidebar {
    width: 15%;
    padding: 2rem 1.5rem;
    overflow-y: auto;
    position: fixed;
    left: 5%;
    top: 15%;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.5) url("../img/metal.png");
    background-size: 900px;
    text-align: center;
}

/* Sidebar sections */
.sidebar-section {
    margin-bottom: 2rem;
}

.sidebar-title {
    font-family: "Tyndale";
    /*font-size: 1.4rem;*/
    color: #ede3c8;
    margin-bottom: 0.5rem;
    font-weight: normal;
    padding-bottom: 0.25rem;
    margin-top: 0;
}

/* Sidebar links */
.sidebar ul {
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0.3rem 0;
    font-family: 'MGR';
}

.sidebar ul li a {
    color: #74c9d2;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.sidebar ul li a:hover {
    color: #a9f3ff;
    text-shadow: 0 0 4px #6ee7ff;
}

main.content {
    margin-left: 20%; /* same width as .sidebar */
    padding: 2rem 12%; /* adjust padding as needed */
    width: 80%; /* remaining width */
    min-height: 100vh;
    color: #e0e0e0;
    box-sizing: border-box;
    font-family: "EB Garamond";
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: "Tyndale";
    font-weight: normal;
    text-shadow: #151413 0 0 5px;
}

.content aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #ffffff;
    font-style: italic;
}

.content aside > p {
    margin: 0.5rem;
}