@font-face {
    font-family: 'MGR';
    src: url('../fonts/P22MorrisGoldenRegular.woff') format('woff');
}

@font-face {
    font-family: 'Tyndale';
    src: url('../fonts/P22 Tyndale Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'E-Garamond';
    src: url('../fonts/Elegant Garamond Regular.otf') format('otf');
}

.title-background {
    display: block;
    margin: auto;
    width: 40%;
}

.tiling-background {
    background-size: 500px;
    background-position: center;
    background-attachment: fixed;
}


.sidebar {
    width: 12%;
    padding: 2rem 1.5rem;
    overflow-y: auto;
    position: fixed;
    left: 5%;
    top: 15%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5) url("../img/metal.png");
    background-size: 900px;
    box-shadow: #0e0e0e 0px 0px 15px;
    text-align: center;
}

.sidebar-section {
    margin-bottom: 2rem;
}

.sidebar-title {
    font-family: "Tyndale";
    color: #ede3c8;
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 1.9rem;
    padding-bottom: 0.25rem;
    margin-top: 0;
}

.sidebar ul {
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0.3rem 0;
    font-family: 'MGR';
}

.sidebar ul li a {
    color: #74c9d2;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.sidebar ul li a:hover {
    color: #a9f3ff;
    text-shadow: 0 0 4px #6ee7ff;
}

main.content {
    margin-left: 30%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: #000000 0 0 15px;
    border-radius: 15px;
    width: 40%;
    min-height: 100vh;
    color: #e0e0e0;
    box-sizing: border-box;
    font-family: "EB Garamond";
}

.content p {
    font-size: 1.3rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: "Tyndale";
    font-weight: normal;
    text-shadow: #151413 0 0 5px;
}

.content aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #ffffff;
    font-style: italic;
    font-size: 1.2rem;
}

.content aside > p {
    margin: 0.5rem;
}

.column-list > ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}